<div class="catalog-size-guide" aria-label="Sizing and fit guide">
  <div class="catalog-size-guide__grid">
    <section class="catalog-size-guide__card">
      <h3 class="catalog-size-guide__heading">Men's</h3>
      <div class="catalog-size-guide__table-shell">
        <table class="catalog-size-guide__table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">SM</th>
              <th scope="col">MD</th>
              <th scope="col">LG</th>
              <th scope="col">XL</th>
              <th scope="col">XXL</th>
              <th scope="col">3XL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Chest</th>
              <td>34-36</td>
              <td>38-40</td>
              <td>42-44</td>
              <td>46-48</td>
              <td>50-52</td>
              <td>54-56</td>
            </tr>
            <tr>
              <th scope="row">Waist</th>
              <td>28-29</td>
              <td>30-32</td>
              <td>34-36</td>
              <td>38-40</td>
              <td>42-44</td>
              <td>46-48</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section class="catalog-size-guide__card">
      <h3 class="catalog-size-guide__heading">Women's</h3>
      <div class="catalog-size-guide__table-shell">
        <table class="catalog-size-guide__table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">XS</th>
              <th scope="col">SM</th>
              <th scope="col">MD</th>
              <th scope="col">LG</th>
              <th scope="col">XL</th>
              <th scope="col">XXL</th>
            </tr>
            <tr>
              <th scope="col"></th>
              <th scope="col">0-2</th>
              <th scope="col">4-6</th>
              <th scope="col">8-10</th>
              <th scope="col">12-14</th>
              <th scope="col">16</th>
              <th scope="col">18</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Bust</th>
              <td>31-33</td>
              <td>33 1/2-35 1/2</td>
              <td>36-38</td>
              <td>38 1/2-40 1/2</td>
              <td>41-43</td>
              <td>43+</td>
            </tr>
            <tr>
              <th scope="row">Waist</th>
              <td>23-25</td>
              <td>25 1/2-27 1/2</td>
              <td>28-30</td>
              <td>30 1/2-32 1/2</td>
              <td>33-35</td>
              <td>35+</td>
            </tr>
            <tr>
              <th scope="row">Hip</th>
              <td>33-35</td>
              <td>35 1/2-37 1/2</td>
              <td>38-40</td>
              <td>40 1/2-42 1/2</td>
              <td>43-45</td>
              <td>45+</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section class="catalog-size-guide__card">
      <h3 class="catalog-size-guide__heading">Boys</h3>
      <div class="catalog-size-guide__table-shell">
        <table class="catalog-size-guide__table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col" colspan="1">YXS</th>
              <th scope="col" colspan="2">YSM</th>
              <th scope="col" colspan="2">YMD</th>
              <th scope="col" colspan="2">YLG</th>
              <th scope="col" colspan="2">YXL</th>
            </tr>
            <tr>
              <th scope="col"></th>
              <th scope="col">6</th>
              <th scope="col">7</th>
              <th scope="col">8</th>
              <th scope="col">10</th>
              <th scope="col">12</th>
              <th scope="col">14</th>
              <th scope="col">16</th>
              <th scope="col">18</th>
              <th scope="col">20</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Chest</th>
              <td>24</td>
              <td>25 1/2</td>
              <td>26 1/2</td>
              <td>27 1/2</td>
              <td>28 1/2</td>
              <td>30 1/2</td>
              <td>32</td>
              <td>33 1/2</td>
              <td>35</td>
            </tr>
            <tr>
              <th scope="row">Waist</th>
              <td>23</td>
              <td>23 1/2</td>
              <td>24 1/2</td>
              <td>25 1/2</td>
              <td>26 1/2</td>
              <td>28</td>
              <td>29 1/2</td>
              <td>31</td>
              <td>32 1/2</td>
            </tr>
            <tr>
              <th scope="row">Hip</th>
              <td>25</td>
              <td>26 1/2</td>
              <td>27 3/4</td>
              <td>29</td>
              <td>30 1/2</td>
              <td>32</td>
              <td>33 1/2</td>
              <td>35</td>
              <td>36 1/2</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section class="catalog-size-guide__card">
      <h3 class="catalog-size-guide__heading">Girls</h3>
      <div class="catalog-size-guide__table-shell">
        <table class="catalog-size-guide__table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col" colspan="2">YXS</th>
              <th scope="col" colspan="2">YSM</th>
              <th scope="col" colspan="2">YMD</th>
              <th scope="col" colspan="2">YLG</th>
              <th scope="col" colspan="2">YXL</th>
            </tr>
            <tr>
              <th scope="col"></th>
              <th scope="col">6</th>
              <th scope="col">6X</th>
              <th scope="col">7</th>
              <th scope="col">8</th>
              <th scope="col">10</th>
              <th scope="col">12</th>
              <th scope="col">14</th>
              <th scope="col">16</th>
              <th scope="col">18</th>
              <th scope="col">20</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Chest</th>
              <td>24</td>
              <td>24 3/4</td>
              <td>26</td>
              <td>27</td>
              <td>28 1/2</td>
              <td>30</td>
              <td>31 1/2</td>
              <td>33 1/2</td>
              <td>35 1/2</td>
              <td>37 1/2</td>
            </tr>
            <tr>
              <th scope="row">Waist</th>
              <td>23</td>
              <td>23 1/2</td>
              <td>23 1/2</td>
              <td>24 1/4</td>
              <td>25</td>
              <td>26</td>
              <td>28</td>
              <td>30</td>
              <td>32</td>
              <td>34</td>
            </tr>
            <tr>
              <th scope="row">Hip</th>
              <td>25</td>
              <td>25 3/4</td>
              <td>27 1/2</td>
              <td>28 1/2</td>
              <td>30</td>
              <td>32</td>
              <td>34</td>
              <td>36</td>
              <td>38</td>
              <td>40</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>

  <p class="catalog-size-guide__note">Note: Production garments have a size allowance of approximately +/- one half inch.</p>
</div>
